.ButtonRoot {
  @apply relative px-4 cursor-pointer rounded-lg overflow-hidden block whitespace-nowrap focus:outline-none;
}

// variants
.filled {
  @apply border;
  &.primary {
    @apply text-primary-reverse bg-primary border-primary;
  }
  &.secondary {
    @apply text-black bg-secondary border-secondary;
  }
  &.gray {
    @apply text-black bg-gray-350 border-gray-350;
  }
  &.white {
    @apply text-black bg-white border-white;
  }

  &.disabled {
    @apply text-white bg-disabled border-disabled;
  }
}

.outlined {
  @apply border;
  &.primary {
    @apply text-primary border-primary;
  }
  &.secondary {
    @apply text-secondary border-secondary;
  }
  &.gray {
    @apply text-gray-350 border-gray-350;
  }
  &.white {
    @apply text-white border-white;
  }

  &.disabled {
    @apply text-disabled border-disabled;
  }
}

.link {
  min-height: unset;
  &.primary {
    @apply text-primary;
  }
  &.secondary {
    @apply text-secondary;
  }
  &.gray {
    @apply text-gray-350;
  }
  &.white {
    @apply text-white;
  }
  &.black {
    @apply text-black;
  }

  &.disabled {
    @apply text-disabled;
  }
}

// disabled
.disabled {
  @apply cursor-not-allowed;
}

// icon button or with icon
.containsIcon {
  @apply flex items-center;
}
.iconButton {
  &.btn-size-sm {
    @apply min-h-[30px] min-w-[30px] text-sm;
  }
  &.btn-size-md {
    @apply min-h-[40px] min-w-[40px];
  }
  &.btn-size-lg {
    @apply min-h-[50px] min-w-[50px];
  }
  &.link {
    height: unset !important;
    min-height: unset !important;
  }
}

// sizes
.btn-size-sm {
  @apply min-h-[30px] text-sm;
}
.btn-size-md {
  @apply min-h-[40px];
}
.btn-size-lg {
  @apply min-h-[50px];
}

// loading
.loaderBg {
  @apply absolute top-0 right-0 bg-gray-300/70 w-full h-full flex items-center justify-center cursor-wait;
}
