@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .customScrollbar {
    /* width */
    &::-webkit-scrollbar {
      @apply w-[6px];
    }
    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-gray-200 rounded;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-400 rounded;
    }
  }

  .user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
