.selectField {
  @apply w-[200px] cursor-pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.optionsList {
  @apply absolute -mt-5 w-full rounded-md text-sm bg-white border-solid border-gray-300 max-h-0 overflow-auto z-50;
  transition: max-height 0.1s ease-in-out;

  &.active {
    @apply max-h-[160px] border;
    transition: max-height 0.25s ease-in-out;
  }
}

.optionRender {
  @apply flex items-center p-2 min-h-[40px] hover:bg-gray-200 cursor-pointer;
}
